
    
    <div class="jumbotron">
      <div class="container ">
        <div class="row">
          <div class="col">
            <h1 class="display-3">Explore with us</h1>
            <h3><strong> We lead you to the path of successfull...</strong></h3>
            <h3><strong>We let your dreams come true</strong></h3>

          </div>
        </div>
        
      </div>
    </div>
   <!-- second sections begins -->
    <div class="courses_bg">
    <section>
          <div class="container">
              <div class="row">
                  <div class="card p-2 col-md-4 col-sm-6 ">
                      <div class="card-wrapper">
                          <div class="card-img">
                              <img src="../../assets/angular.jpg" alt="angular" >
                          </div>
                          <div class="card-box">
                              <h4 class="card-title mbr-fonts-style display-5">Angular Course</h4>
                              <p class=" mbr-fonts-style display-7">
                                 After studying, you will be able to create applications using angular framework <br><strong>This course starts on 17 NOv and runs for 8 weeks.</strong><br>
                              </p>
                          </div>
                          <div class=" text-center"><a href="#" class="btn btn-primary display-4">
                                  Enroll</a></div>
                      </div>
                  </div>
      
                  <div class="card p-2 col-12 col-md-4 col-sm-6 ">
                      <div class="card-wrapper">
                          <div class="card-img">
                              <img src="../../assets/java.png" alt="java" width="300px" height="150px">
                          </div>
                          <div class="card-box">
                              <h4 class="card-title mbr-fonts-style display-5">
                                  Java Course</h4>
                              <p class="mbr-text mbr-fonts-style display-7">
                                  you can become an expert Java Developer<br><strong>This course starts on 8 november and runs for 12 weeks.</strong><br>
                              </p>
                          </div>
                          <div class=" text-center"><a href="#" class="btn btn-primary display-4">
                                  Enroll</a></div>
                      </div>
                  </div>
      
                  <div class="card p-2 col-12 col-md-4 col-sm-6 ">
                      <div class="card-wrapper">
                          <div class="card-img">
                              <img src="../../assets/python.png" alt="Mobirise" width="300px" height="150px">
                          </div>
                          <div class="card-box">
                              <h4 class="card-title mbr-fonts-style display-5">Python Course
                              </h4>
                              <p class="mbr-text mbr-fonts-style display-7">
                                 What platform to use for beginners, how to do with Python We'll teach you.<br><strong>This course starts on 17 December and runs for 4 weeks.</strong>  
                              </p>
                          </div>
                          <div class=" text-center"><a href="#" class="btn btn-primary display-4">
                                  Enroll</a></div>
                      </div>
                  </div>
      
                  
              </div>
          </div>
          <hr>
          <br>
          <div class="container">
              <div class="row">
                  <div class="card p-2 col-12 col-md-4 col-sm-6 ">
                      <div class="card-wrapper">
                          <div class="card-img">
                              <img src="../../assets/data.jpg" alt="datascience"width="300px" height="150px" >
                          </div>
                          <div class="card-box">
                              <h4 class="card-title mbr-fonts-style display-5">
                                  Data Science</h4>
                              <p class="mbr-text mbr-fonts-style display-7">
                                 This is a trending course. You can learn creative technology here <br><strong>This course starts on 8 December and runs for 12 weeks.</strong><br> 
                              </p>
                          </div>
                          <div class=" text-center"><a href="#" class="btn btn-primary display-4">
                                  Enroll</a></div>
                      </div>
                  </div>
      
                  <div class="card p-2 col-12 col-md-4 col-sm-6 ">
                      <div class="card-wrapper">
                          <div class="card-img">
                              <img src="../../assets/graphic.jpg" alt="graphic_designing" width="300px" height="150px">
                          </div>
                          <div class="card-box">
                              <h4 class="card-title mbr-fonts-style display-5">Graphic Designing</h4>
                              <p class="mbr-text mbr-fonts-style display-7">
                                  You can learn the basics of designing by taking our free online Designing class.<br><strong>This course starts on 17 November and runs for 8 weeks.</strong></p>
                          </div>
                          <div class="mbr-section-btn text-center"><a href="#" class="btn btn-primary display-4">
                                  Enroll</a></div>
                      </div>
                  </div>
      
                  <div class="card p-2 col-12 col-md-4 col-sm-6 ">
                      <div class="card-wrapper">
                          <div class="card-img">
                              <img src="../../assets/aem.png" alt="aem"width="300px" height="150px">
                          </div>
                          <div class="card-box">
                              <h4 class="card-title mbr-fonts-style display-5">AEM Course</h4>
                              <p class=" mbr-fonts-style display-7">
                                  Do you like testing then this is the one you should choose.&nbsp;<br><strong>This course starts on 1 January and runs for 8 weeks.</strong></p>
                          </div>
                          <div class=" text-center"><a href="#" class="btn btn-primary display-4">
                                  Enroll</a></div>
                      </div>
                  </div>
      
                  
              </div>
          </div>
        </section>
      </div>
  
  
